<div id="header_wrap" class="outer">
    <header class="inner">
      {% if site.github.is_project_page %}
        <a id="forkme_banner" href="{{ site.github.repository_url }}/issues" target="_blank">Report an issue</a>
      {% endif %}
      <button> × </button><h1 id="project_title">{{ page.title }}</h1>
      <nav class="outer">        
      <ul>
          {% for item in site.data.nav.docs %}
              <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
      </ul>
    </nav>

    </header>
</div>