<table border="0">
    <thead>
      <tr>
        <th>CAMEL POS Arabic</th>
        <th>CAMEL POS</th>
        <th>ARZATB POS</th>
      </tr>
    </thead>
    <tbody>
      <tr class="header expand">
        <th colspan="3" style="background: gray; color: black;">PROCLITIC tags <span class="sign"></span></th>
      </tr>
      <tr>
        <td>أداة_تعريف</td>
        <td>PART_DET</td>
        <td>DET</td>
      </tr>
      <tr>
        <td>حرف_عطف</td>
        <td>CONJ</td>
        <td>CONJ</td>
      </tr>
      <tr>
        <td>حرف_جر</td>
        <td>PREP</td>
        <td>PREP</td>
      </tr>
      <tr>
        <td>أداة_نفي</td>
        <td>PART_NEG</td>
        <td>NEG_PART</td>
      </tr>
      <tr>
        <td>أداة_استقبال</td>
        <td>PART_FUT</td>
        <td>FUT_PART</td>
      </tr>
      <tr>
        <td>أداة_مضارعة</td>
        <td>PART_PROG</td>
        <td>PROG_PART</td>
      </tr>
      <tr>
        <td>أداة_ربط</td>
        <td>CONJ_SUB</td>
        <td>SUB_CONJ</td>
      </tr>
      <tr>
        <td>ضمير_إشارة</td>
        <td>PRON_DEM</td>
        <td>DEM_PRON</td>
      </tr>
      <tr>
        <td>ضمير_استفهام</td>
        <td>PRON_INTERROG</td>
        <td>INTERROG_PRON</td>
      </tr>
      <tr>
        <td>أداة</td>
        <td>PART</td>
        <td>PART</td>
      </tr>
      <tr>
        <td>حرف_ربط</td>
        <td>PART_CONNECT</td>
        <td>CONNEC_PART</td>
      </tr>
      <tr>
        <td>أداة_توكيد</td>
        <td>PART_EMPHATIC</td>
        <td>EMPHATIC_PART</td>
      </tr>
      <tr>
        <td>جواب_شرط</td>
        <td>PART_RC</td>
        <td>RC_PART</td>
      </tr>
      <tr>
        <td>أداة_نداء</td>
        <td>PART_VOC</td>
        <td>VOC_PART</td>
      </tr>
      <tr class="header expand">
        <th colspan="3" style="background: gray; color: black;">ENCLITIC tags <span class="sign"></span></th>
      </tr>
      <tr>
        <td>أداة_نفي</td>
        <td>PART_NEG</td>
        <td>NEG_PART</td>
      </tr>
      <tr>
        <td>ضمير</td>
        <td>PRON</td>
        <td>*SUFF_DO:[PGN]</td>
      </tr>
      <tr>
        <td>ضمير</td>
        <td>PRON</td>
        <td>POSS_PRON_[PGN]</td>
      </tr>
      <tr>
        <td>ضمير</td>
        <td>PRON</td>
        <td>PRON_[PGN]</td>
      </tr>
      <tr class="header expand">
        <th colspan="3" style="background: gray; color: black;">BASEWORD tags <span class="sign"></span></th>
      </tr>
      <tr>
        <td>اسم</td>
        <td>NOUN</td>
        <td>NOUN</td>
      </tr>
      <tr>
        <td>اسم_عدد</td>
        <td>NOUN_NUM</td>
        <td>NOUN_NUM</td>
      </tr>
      <tr>
        <td>اسم_علم</td>
        <td>NOUN_PROP</td>
        <td>NOUN_PROP</td>
      </tr>
      <tr>
        <td>اسم_كم</td>
        <td>NOUN_QUANT</td>
        <td>NOUN_QUANT</td>
      </tr>
      <tr>
        <td>صفة</td>
        <td>ADJ</td>
        <td>ADJ</td>
      </tr>
      <tr>
        <td>صفة_عدد</td>
        <td>ADJ_NUM</td>
        <td>ADJ_NUM</td>
      </tr>
      <tr>
        <td>صفة_مقارنة</td>
        <td>ADJ_COMP</td>
        <td>ADJ_COMP</td>
      </tr>
      <tr>
        <td>ظرف</td>
        <td>ADV</td>
        <td>ADV</td>
      </tr>
      <tr>
        <td>ظرف_استفهام</td>
        <td>ADV_INTERROG</td>
        <td>INTERROG_ADV</td>
      </tr>
      <tr>
        <td>ظرف_موصول</td>
        <td>ADV_REL</td>
        <td>REL_ADV</td>
      </tr>
      <tr>
        <td>فعل</td>
        <td>VERB</td>
        <td>IV/PV/CV</td>
      </tr>
      <tr>
        <td>شبه_فعل</td>
        <td>VERB_PSEUDO</td>
        <td>PSEUDO_VERB</td>
      </tr>
      <tr>
        <td>اسم_فعل</td>
        <td>VERB_NOM</td>
        <td>VERB</td>
      </tr>
      <tr>
        <td>ضمير</td>
        <td>PRON</td>
        <td>PRON_[PGN]</td>
      </tr>
      <tr>
        <td>ضمير_إشارة</td>
        <td>PRON_DEM</td>
        <td>DEM_PRON_[GN]</td>
      </tr>
      <tr>
        <td>ضمير_استفهام</td>
        <td>PRON_INTERROG</td>
        <td>INTERROG_PRON</td>
      </tr>
      <tr>
        <td>ضمير_تعجب</td>
        <td>PRON_EXCLAM</td>
        <td>EXCLAM_PRON</td>
      </tr>
      <tr>
        <td>ضمير_موصول</td>
        <td>PRON_REL</td>
        <td>REL_PRON</td>
      </tr>
      <tr>
        <td>أداة</td>
        <td>PART</td>
        <td>PART</td>
      </tr>
      <tr>
        <td>أداة_تعريف</td>
        <td>PART_DET</td>
        <td>DET</td>
      </tr>
      <tr>
        <td>أداة_نفي</td>
        <td>PART_NEG</td>
        <td>NEG_PART</td>
      </tr>
      <tr>
        <td>أداة_استقبال</td>
        <td>PART_FUT</td>
        <td>FUT_PART</td>
      </tr>
      <tr>
        <td>أداة_مضارعة</td>
        <td>PART_PROG</td>
        <td>PROG_PART</td>
      </tr>
      <tr>
        <td>أداة_فعل</td>
        <td>PART_VERB</td>
        <td>VERB_PART</td>
      </tr>
      <tr>
        <td>أداة_نداء</td>
        <td>PART_VOC</td>
        <td>VOC_PART</td>
      </tr>
      <tr>
        <td>أداة_استفهام</td>
        <td>PART_INTERROG</td>
        <td>INTERROG_PART</td>
      </tr>
      <tr>
        <td>أداة_استثناء</td>
        <td>PART_RESTRICT</td>
        <td>RESTRIC_PART</td>
      </tr>
      <tr>
        <td>أداة_تفصيل</td>
        <td>PART_FOCUS</td>
        <td>FOCUS_PART</td>
      </tr>
      <tr>
        <td>أداة_توكيد</td>
        <td>PART_EMPHATIC</td>
        <td>EMPHATIC_PART</td>
      </tr>
      <tr>
        <td>جواب_شرط</td>
        <td>PART_RC</td>
        <td>RC_PART</td>
      </tr>
      <tr>
        <td>أداة_ربط</td>
        <td>CONJ_SUB</td>
        <td>SUB_CONJ</td>
      </tr>
      <tr>
        <td>حرف_جر</td>
        <td>PREP</td>
        <td>PREP</td>
      </tr>
      <tr>
        <td>حرف_عطف</td>
        <td>CONJ</td>
        <td>CONJ</td>
      </tr>
      <tr>
        <td>أداة_ربط</td>
        <td>PART_CONNECT</td>
        <td>CONNEC_PART</td>
      </tr>
      <tr>
        <td>رقم</td>
        <td>DIGIT</td>
        <td>NOUN_NUM</td>
      </tr>
      <tr>
        <td>اختصار</td>
        <td>ABBREV</td>
        <td>ABBREV</td>
      </tr>
      <tr>
        <td>تعجب</td>
        <td>INTERJ</td>
        <td>INTERJ</td>
      </tr>
      <tr>
        <td>أجنبي</td>
        <td>FORIEGN</td>
        <td>FOREIGN</td>
      </tr>
      <tr>
        <td>علامة_ترقيم</td>
        <td>PUNC</td>
        <td>PUNC</td>
      </tr>
    </tbody> 
</table>

<script>
    $('.header').click(function(){
    $(this).toggleClass('expand').nextUntil('tr.header').slideToggle(100);
});
</script>